body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    scroll-behavior: smooth;
}

.scroll-section {
    justify-content: center;
    align-items: center;
    font-size: 2em;
    display: flex;
    opacity: 0;
    transform: translateY(20%); /* 초기 상태에서 아래로 조금 이동 */
    transition: opacity 1.5s ease-out, transform 1.5s ease-out; /* 부드러운 페이드 인 및 위로 이동 효과 */
    
}


.scroll-section.visible {
    opacity: 1;
    transform: translateY(0); /* 최종 상태에서 원래 위치로 */
}
 

.container {
  font-family: arial;
  font-size: 24px;
  width: 100%;
  /* 자식 요소(.child)를 중앙 정렬하기 */
  display: flex;
  justify-content: center;
}

.child {
  width: 640px;
  background-color: #f6f6f6;
}

.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.noto-serif kr-regular {
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  font-style: normal;
}


.my_bg {
  background-position: center;    
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #ffffff;
  text-shadow: 3px 4px 5px #000000;
  position: relative;  
}
.top_main {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}
.top_sub {
   font-family: "Nanum Myeongjo", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}
.heading_title {

  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
  color: #296038;
    text-align: center; 
    margin-top: 30px;
    display: block;
}
.section2 {
  line-height: 2.7vh;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: #2f4f4f;
    text-align: center; 
    display: block;
    margin-top: 150px;
    margin-bottom: 150px;;
}
.map {
  position: relative;
    text-align: center; 
}
.map_top {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    text-align: center; 
}

.borderimg2 {
  border: 20px solid transparent;
  padding: 0px;
  border-image: url('../img/border.png') 20% round;
}

.calendar {
  background-image: url("../img/weddingcal.png");    
  background-size: contain;
  background-repeat: no-repeat;  
  color: #ffffff;
  text-shadow: 3px 4px 5px #000000;
  position: relative;  
  

}

.flower1{
  background-image: url("../img/flower1.png");

  background-size: contain;
  background-repeat: no-repeat;  
  background-position: center;
}

.flower2{
  background-image: url("../img/flower2.png");
  background-size: contain;
  background-repeat: no-repeat;  
  background-position: center;
}
.flower3{
  background-image: url("../img/flower3.png");
  background-size: contain;
  background-repeat: no-repeat;  
  background-position: center;
}

.faq_question {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-size: 17px;
  color: #2f4f4f;
  font-weight: 800;
  text-align: left; 
  margin-top: 25px;
  margin-bottom: 1px;
  display: block;
}
.faq {
  font-family: 'Noto Serif KR', serif;
  font-style: normal;
  font-size: 13px;
  color: #2f4f4f;
  text-align: justify; 
  display: block;
  height:150px; 
  padding-top: 0px; 
  padding-left: 20px; 
  padding-right: 20px;
  margin: 10px;
  background-size: 200px auto; 
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: rgba(253, 189, 255, 0.532); border-radius: 20px;
}
.faq_right {
  font-family: 'Noto Serif KR', serif;
  font-style: normal;
  font-size: 13px;
  color: #2f4f4f;
  text-align: justify; 
  display: block;
  height:150px; 
  padding-top: 10px; 
  padding-left: 20px; 
  padding-right: 160px;
  margin: 10px;
  background-size: 150px auto; 
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: rgba(217, 200, 255, 0.532); border-radius: 20px;
}

.faq_left {
  font-family: 'Noto Serif KR', serif;
  font-style: normal;
  font-size: 13px;
  color: #2f4f4f;
  text-align: justify; 
  display: block;
  height:150px; 
  padding-top: 10px; 
  padding-left: 160px; 
  padding-right: 20px;
  margin: 10px;
  background-size: 150px auto; 
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: rgba(216, 255, 89, 0.5); border-radius: 20px;
}

.faq_table {
  font-family: 'Noto Serif KR', serif;
  font-style: normal;
  font-size: 13px;
  color: #2f4f4f;
  text-align: justify; 
  display: block;
  height:150px; 
  padding-top: 20px; 
  padding-left: 160px; 
  padding-right: 20px;
  margin: 10px;
  background-size: 150px auto; 
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: rgba(218, 250, 115, 0.5); border-radius: 20px;
}
.gallery {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.galleryimages {
  width: 100%;
  height: auto;
}
.galleryimages img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 320px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    grid-auto-flow: row dense;
  }
  .imageFlex1 {
    display: grid;
    row-gap: 20px;
  }
  .imageFlex2 {
    display: grid;
    row-gap: 20px;
  }
  .imageFlex3 {
    display: grid;
    row-gap: 20px;
  }
}

#lightbox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.694);
  top: 0%;
  left: 0%;
  position: fixed;
  display: none;
}

#lightboxImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #eee;
}